* {
  min-width: 0;
  font: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  margin: 0;
}

p {
  text-wrap: pretty;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}